
        <ons-toolbar>
            <div class="left"><ons-back-button>Back</ons-back-button></div>
            <div class="center">郷土資料</div>
        </ons-toolbar>

                    <ons-scroller>
                      <ons-list>
                         
                        <ons-list-header>郷土資料室</ons-list-header>
                        <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('vr/local_material/lo_01.html');">郷土資料室1</ons-list-item>
                        <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('vr/local_material/lo_02.html');">郷土資料室2</ons-list-item>
                        <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('vr/local_material/lo_03.html');">郷土資料室3</ons-list-item>
                        <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('vr/local_material/lo_04.html');">郷土資料室4</ons-list-item>
                        <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('vr/local_material/lo_05.html');">郷土資料室5</ons-list-item>
                        <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('vr/local_material/lo_06.html');">郷土資料室6</ons-list-item>
                        <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('vr/local_material/lo_07.html');">郷土資料室7</ons-list-item>
                        <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('vr/local_material/lo_08.html');">郷土資料室8</ons-list-item>
                        <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('vr/local_material/lo_09.html');">郷土資料室9</ons-list-item>
                        <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('vr/local_material/lo_10.html');">郷土資料室10</ons-list-item>
                        <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('vr/local_material/lo_11.html');">郷土資料室11</ons-list-item>
                        <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('vr/local_material/lo_12.html');">郷土資料室12</ons-list-item>
                        <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('vr/local_material/lo_13.html');">郷土資料室13</ons-list-item>
                       


                      </ons-list>
                    </ons-scroller>
    