
        <ons-toolbar>
            <div class="left"><ons-back-button>Back</ons-back-button></div>
            <div class="center">落合文庫</div>
        </ons-toolbar>

                    <ons-scroller>
                      <ons-list>
                         
                        <ons-list-header>落合文庫</ons-list-header>
                        <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('vr/ochiai_library/oc_01.html');">落合文庫1</ons-list-item>
                        <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('vr/ochiai_library/oc_02.html');">落合文庫2</ons-list-item>
                        <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('vr/ochiai_library/oc_03.html');">落合文庫3</ons-list-item>
                        <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('vr/ochiai_library/oc_04.html');">落合文庫4</ons-list-item>
                       


                      </ons-list>
                    </ons-scroller>
    