
        <ons-toolbar>
            <div class="left"><ons-back-button>Back</ons-back-button></div>
            <div class="center">科学資料</div>
        </ons-toolbar>

                    <ons-scroller>
                      <ons-list>
                         
                        <ons-list-header>科学資料室</ons-list-header>
                        <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('vr/scientific_materials/sc_01.html');">科学資料室1</ons-list-item>
                        <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('vr/scientific_materials/sc_02.html');">科学資料室2</ons-list-item>
                        <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('vr/scientific_materials/sc_03.html');">科学資料室3</ons-list-item>
                        <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('vr/scientific_materials/sc_04.html');">科学資料室4</ons-list-item>
                        <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('vr/scientific_materials/sc_05.html');">科学資料室5</ons-list-item>
                        <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('vr/scientific_materials/sc_06.html');">科学資料室6</ons-list-item>
                        <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('vr/scientific_materials/sc_07.html');">科学資料室7</ons-list-item>
                        <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('vr/scientific_materials/sc_08.html');">科学資料室8</ons-list-item>
                        <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('vr/scientific_materials/sc_09.html');">科学資料室9</ons-list-item>
                        <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('vr/scientific_materials/sc_10.html');">科学資料室10</ons-list-item>
                        <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('vr/scientific_materials/sc_11.html');">科学資料室11</ons-list-item>
                        <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('vr/scientific_materials/sc_12.html');">科学資料室12</ons-list-item>
                        <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('vr/scientific_materials/sc_13.html');">科学資料室13</ons-list-item>
                        <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('vr/scientific_materials/sc_14.html');">科学資料室14</ons-list-item>
                        <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('vr/scientific_materials/sc_15.html');">科学資料室15</ons-list-item>
                        
                       


                      </ons-list>
                    </ons-scroller>
    