
        <ons-toolbar>
            <div class="left"><ons-back-button>Back</ons-back-button></div>
            <div class="center">生物標本</div>
        </ons-toolbar>

                    <ons-scroller>
                      <ons-list>
                         
                        <ons-list-header>生物前廊下</ons-list-header>
                        <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('vr/specimen/sp_01.html');">生物前廊下1</ons-list-item>
                        <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('vr/specimen/sp_02.html');">生物前廊下2</ons-list-item>
                        <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('vr/specimen/sp_03.html');">生物前廊下3</ons-list-item>
                        <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('vr/specimen/sp_04.html');">生物前廊下4</ons-list-item>
                        <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('vr/specimen/sp_05.html');">生物前廊下5</ons-list-item>
                        <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('vr/specimen/sp_06.html');">生物前廊下6</ons-list-item>
                        <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('vr/specimen/sp_07.html');">生物前廊下7</ons-list-item>
                        <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('vr/specimen/sp_08.html');">生物前廊下8</ons-list-item>
                        
                        <ons-list-header>生物資料室</ons-list-header>
                        <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('vr/specimen/sp_09.html');">生物資料室1</ons-list-item>
                        <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('vr/specimen/sp_10.html');">生物資料室2</ons-list-item>
                       


                      </ons-list>
                    </ons-scroller>
    