

  <ons-toolbar>
  <div class="left">
        <ons-back-button>Back</ons-back-button>
      </div>
    <div class="center">スペシャル</div>
  </ons-toolbar>


<ons-scroller>
  <ons-list>
    <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/special/paper_molds.html');" class="list-item-container">
      <ons-row>
        <ons-col width="95px">
          <img src="img/special/291.jpg" class="thumbnail">
        </ons-col>
        <ons-col>
          <div class="name">
            紙型
          </div>
          <div class="desc">
            お宝発見！？
          </div>
        </ons-col>
        <ons-col width="40px"></ons-col>
      </ons-row>
    </ons-list-item>

    <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/special/japanese_sea_lion.html');" class="list-item-container">
      <ons-row>
        <ons-col width="95px">
          <img src="img/03/03-50_10.jpg" class="thumbnail">
        </ons-col>
        <ons-col>
          <div class="name">
            ニホンアシカ
          </div>
          <div class="desc">
            絶滅種の、貴重な剥製標本！
          </div>
        </ons-col>
        <ons-col width="40px"></ons-col>
      </ons-row>
    </ons-list-item>

    <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/special/highschool_news.html');" class="list-item-container">
      <ons-row>
        <ons-col width="95px">
          <img src="img/special/304.jpg" class="thumbnail">
        </ons-col>
        <ons-col>
          <div class="name">
            学校新聞
          </div>
          <div class="desc">
            昔の高校はこんなだった
          </div>
        </ons-col>
        <ons-col width="40px"></ons-col>
      </ons-row>
    </ons-list-item>

    <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/special/eucalyptus.html');" class="list-item-container">
      <ons-row>
        <ons-col width="95px">
          <img src="img/special/324.jpg" class="thumbnail">
        </ons-col>
        <ons-col>
          <div class="name">
            ユーカリ
          </div>
          <div class="desc">
            あの新島襄ゆかりの……
          </div>
        </ons-col>
        <ons-col width="40px"></ons-col>
      </ons-row>
    </ons-list-item>

    <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/ochiai_library/gakumon_no_susume.html');" class="list-item-container">
      <ons-row>
        <ons-col width="95px">
          <img src="img/01/gakumon_no_susume-00.jpg" class="thumbnail">
        </ons-col>
        <ons-col>
          <div class="name">
            学問のすゝめ
          </div>
          <div class="desc">
            福沢諭吉の名作
          </div>
        </ons-col>
        <ons-col width="40px"></ons-col>
      </ons-row>
    </ons-list-item>

    <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/ochiai_library/kaitai_shinsho.html');" class="list-item-container">
      <ons-row>
        <ons-col width="95px">
          <img src="img/01/kaitai_shinsho-00.jpg" class="thumbnail">
        </ons-col>
        <ons-col>
          <div class="name">
            解体新書
          </div>
          <div class="desc">
            デジタルで見る、人体解剖絵巻
          </div>
        </ons-col>
        <ons-col width="40px"></ons-col>
      </ons-row>
    </ons-list-item>

  </ons-list>
</ons-scroller>

 