
        <ons-toolbar>
            <div class="left"><ons-back-button>Back</ons-back-button></div>
            <div class="center">生物標本</div>
        </ons-toolbar>

                    <ons-scroller>
                      <ons-list>
                        <ons-list-header>説明</ons-list-header>
                        <ons-list-item modifier="chevron"　 ng-click="myNavigator.pushPage('kishicolle/specimen_description.html');">生物標本とは</ons-list-item>
                         
                        <ons-list-header>生物標本（鳥類）</ons-list-header>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/bird/02-01.html');">アオゲラ</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/bird/02-03.html');">アカショウビン</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/bird/02-05.html');">イカルチドリ</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/bird/02-06.html');">イスカ</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/bird/02-07.html');">ウズラ</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/bird/02-08.html');">ウトウ</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/bird/02-09.html');">ウミスズメ</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/bird/02-10.html');">オオハム</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/bird/02-11.html');">オオミズナギドリ</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/bird/02-12.html');">オオルリ</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/bird/02-13.html');">オシドリ</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/bird/02-14.html');">カイツブリ</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/bird/02-15.html');">カッコウ</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/bird/02-16.html');">カモメ</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/bird/02-17.html');">カワウ</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/bird/02-18.html');">キジ</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/bird/02-19.html');">クイナ</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/bird/02-20.html');">ゴイザギ</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/bird/02-21.html');">コウライキジ</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/bird/02-23.html');">コシアカツバメ</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/bird/02-24.html');">コノハズク</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/bird/02-25.html');">コミミズク</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/bird/02-26.html');">サンコウチョウ</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/bird/02-27.html');">シャコ</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/bird/02-28.html');">シラオネッタイチョウ</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/bird/02-30.html');">タシギ</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/bird/02-32.html');">チョウゲンボウ</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/bird/02-33.html');">ツバメ</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/bird/02-34.html');">カワラバト</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/bird/02-35.html');">トビ</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/bird/02-36.html');">トラツグミ</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/bird/02-37.html');">ノガン</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/bird/02-38.html');">ノゴマ</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/bird/02-39.html');">バン</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/bird/02-41.html');">フクロウ</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/bird/02-42.html');">フルマカモメ</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/bird/02-43.html');">ホトトギス</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/bird/02-44.html');">マガモ</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/bird/02-45.html');">マガン</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/bird/02-46.html');">ミヤコドリ</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/bird/02-47.html');">ヤツガシラ</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/bird/02-48.html');">ヤブサメ</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/bird/02-49.html');">ヤマゲラ</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/bird/02-50.html');">ヤマドリ</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/bird/02-51.html');">ヨタカ</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/bird/02-52.html');">ライチョウ</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/bird/02-53.html');">ワカケホンセイインコ</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/bird/02-100.html');">カンザシフウチョウ</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/bird/02-101.html');">セキセイインコ</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/bird/02-102.html');">カササギ</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/bird/02-103.html');">ケリ</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/bird/02-104.html');">コウライヒクイナ</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/bird/02-105.html');">イソシギ</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/bird/02-106.html');">チュウサギ</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/bird/02-108.html');">アオサギ</ons-list-item>
                       
                       <ons-list-header>生物標本（鳥類以外）</ons-list-header>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/other/03-01.html');">アカサンゴ</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/other/03-02.html');">アナグマ</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/other/03-03.html');">アブラコウモリ</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/other/03-04.html');">アメリカアリゲーター</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/other/03-05.html');">アラフラオオニシ</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/other/03-06.html');">アリ塚</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/other/03-08.html');">イタチ</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/other/03-09.html');">イナズマツノヤシ</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/other/03-12.html');">イノシシ</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/other/03-14.html');">イリエワニ</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/other/03-15.html');">ウサギ</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/other/03-21.html');">エミュの卵</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/other/03-22.html');">オオサンショウウオの骨格</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/other/03-24.html');">オウムガイ</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/other/03-25.html');">オガサワラコウモリ</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/other/03-28.html');">カモノハシ</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/other/03-30.html');">クダサンゴ</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/other/03-31.html');">クモガイ</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/other/03-33.html');">ココヤシ</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/other/03-34.html');">サメの卵嚢</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/other/03-35.html');">サル</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/other/03-37.html');">シカの骨</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/other/03-38.html');">シラヒゲウニ(大)</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/other/03-40.html');">タコノマクラ(大)</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/other/03-41.html');">ダチョウの卵</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/other/03-42.html');">タヌキの骨格</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/other/03-44.html');">ツキノワグマ</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/other/03-46.html');">トウカムリ</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/other/03-48.html');">ナウマンゾウの臼歯一部</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/other/03-49.html');">ナガスクジラの髯</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/other/japanese_sea_lion.html');">ニホンアシカ</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/other/03-53.html');">パイプウニ</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/other/03-57.html');">ヒフキヨウジ</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/other/03-58.html');">ピラルクの鱗</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/other/03-59.html');">ヘゴ</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/other/03-60.html');">ホッスガイ</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/other/03-61.html');">マッコウクジラの歯</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/other/03-63.html');">ミミセンザンコウ</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/other/03-66.html');">モダマ</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/other/03-68.html');">ヤマネコ</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/other/03-69.html');">ヨナクニサン</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/other/03-100.html');">クマ</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/other/03-101.html');">アライグマの骨格</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/other/03-102.html');">イタチ</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/other/03-104.html');">モルモット</ons-list-item>
                       <ons-list-item modifier="chevron" ng-click="myNavigator.pushPage('kishicolle/specimen/other/03-106.html');">カメの骨格</ons-list-item>


                      </ons-list>
                    </ons-scroller>
    